<div *ngIf="currentBook">

  <h3>Book Details</h3>

  <form #form="ngForm">
    <label for="isbn" appTooltip="Enter" newText="ISBN">ISBN</label>
    <input type="text" required id="isbn" [(ngModel)]="currentBook.isbn" name="isbn">

    <label for="title" appTooltip="Enter" newText="Title">Title</label>
    <input type="text" id="title" [(ngModel)]="currentBook.title" name="title">
  </form>

  <button (click)="save()">Save</button>

  <p [hidden]="form.valid" style="color: red">
    Input is invalid!
  </p>

</div>
